.mode_menu.ant-menu-horizontal {
  line-height: 64px;
}

.ant-menu.ant-menu-dark .mode_menu__edit.ant-menu-item-selected {
  background-color: darkred;
}

.ant-menu.ant-menu-dark .mode_menu__simulate.ant-menu-item-selected {
  background-color: #008B27;
}
